<link rel="stylesheet" href="/css/interview.css">

<h2 class="styled-heading">Add Interview</h2>
<form class="student-form" action="/interview/add" method="POST">

  <label for="company">Company:</label>
  <input type="text" id="company" name="companyName" required>

  <label for="date">Date:</label>
  <input type="date" id="date" name="date" required>

  <button type="submit">Add Interview</button>

</form>
